/* Small screen */
@media (min-width: 0px) {


  .arrow-button {
    border: solid;
    border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: #2b2b2b;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 30%;
    text-align: center;
  	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.3);

  }

  .arrow-button:hover {
      background-color: rgba(255, 255, 255, 1);
  }
  .edit-print {
    text-align: center;
  }
  .g-box {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

/* Regular screen and up */
@media (min-width: 576px) {


  .arrow-button {
    border: solid;
    border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: #2b2b2b;
    padding: 5px 10px;
    margin: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
    text-align: center;
  	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.6);

  }
  .arrow-button:hover {
      background-color: rgba(255, 255, 255, 0.9);
  }

  .edit-print {
    text-align: right;
  }

  .g-box {
    background-color: transparent;
  }
}
