/* btn-goodminder following bootstrap css for btn-primary */
.btn-goodminder {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-goodminder:hover {
  color: #fff;
  background-color: #399393;
  border-color: #46B3B3;
}

.btn-goodminder:focus, .btn-goodminder.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-goodminder.disabled, .btn-goodminder:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-goodminder:active, .btn-goodminder.active,
.show > .btn-goodminder.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btn-outline-goodminder {
  color: black;
  background-image: none;
  background-color: transparent;
  border-color: #46B3B3;
}

.btn-outline-goodminder:hover {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-outline-goodminder:focus, .btn-outline-goodminder.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-goodminder.disabled, .btn-outline-goodminder:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btn-outline-goodminder:active, .btn-outline-goodminder.active,
.show > .btn-outline-goodminder.dropdown-toggle {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

/* End btn-goodminder */

.button-standard {
    border: solid;
  border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  background-color: rgba(255, 255, 255, 0.7);

}

.button-span {
  border: solid;
border-radius: 10px;
  border-color: #46B3B3;
  border-width: 2px;
    color: black;
    padding: 15px 32px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  background-color: rgba(255, 255, 255, 0.7);

}

.button-clear {
    border: none;
    color: #5777C0;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;

}


.button-white {
    border: none;
    color: white;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;

}

.button-standard:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
