p {
  font-family: 'Comfortaa', cursive;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  border-bottom: 2px solid #46B3B3;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer{
	color: black;
	font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
  width: 100%;
	text-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #46B3B3;
  padding: 20px;

}
/* adjust footer content by screen size */
.short-text { display: none; }

/* When resolution <= 1200px, hide short text and show full text*/
@media (max-width: 768px) {
    .short-text { display: inline; }
    .full-text { display: none; }
}

/* As in bootstrap css */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Import from Bootstrap website

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/


@media (max-width: 576px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

  }
  .App {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;

  }
  .App {background-color: transparent}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  .App {background-color: transparent}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {

  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // End */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
