p {
  font-family: 'Comfortaa', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  border-bottom: 2px solid #46B3B3;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer{
	color: black;
	font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
  width: 100%;
	text-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #46B3B3;
  padding: 20px;

}
/* adjust footer content by screen size */
.short-text { display: none; }

/* When resolution <= 1200px, hide short text and show full text*/
@media (max-width: 768px) {
    .short-text { display: inline; }
    .full-text { display: none; }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
