.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#176e77+0,21277a+78,331960+100 */
background: #176e77; /* Old browsers */
background: -moz-linear-gradient(top, #176e77 0%, #21277a 78%, #331960 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #176e77 0%,#21277a 78%,#331960 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #176e77 0%,#21277a 78%,#331960 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#176e77', endColorstr='#331960',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
