.media-small {
  background-color: rgba(255, 255, 255, 0.6);
}



.alignR {
	text-align: right;
}

.floatR {
	float: right;
}

.alignL {
	text-align: left;
}
.floatL {
	float: left;
}

.button-span-2 {
  border: solid;
  border-radius: 10px;
  border-color: #46B3B3;
  border-width: 2px;
  color: black;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
  text-align: center;
	font-family: 'Comfortaa', cursive;
  text-decoration: none;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);

}

.button-span-2:hover {
    background-color: rgba(255, 255, 255, 1);
}

.button-span-3 {
  border: solid;
  border-radius: 10px;
  border-color: #46B3B3;
  border-width: 2px;
  color: black;
  padding: 5px 10px;
  margin: 10px;
  width: 30%;
  text-align: center;
	font-family: 'Comfortaa', cursive;
  text-decoration: none;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.6);

}

.button-span-3:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


header{
  color: white;
	font-family: 'Comfortaa', cursive;
}



.navbar {
    border-bottom: 3px solid #46B3B3;
		margin-bottom: 0;
}
.navbar-brand:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.backfill {
	font-size: 16px;
	color: #5777C0;
}
.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    font-size: 16px;
    text-align: left;
    color: #5777C0;

}

.box-clear {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
}

h1 {
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

h1 span {
  position: relative;
}
h1 span img {
  position: absolute;
  right: calc(90%);
	bottom: calc(-10%);
}


.main-header {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin: 25px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}


ol {
	text-align: center;
}

h5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 24px;
}


.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.marker {
	font-family: 'Permanent Marker', cursive;
	font-size: 45px;
}

.arial {
    font-family: 'arial';
	font-size: 12px;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.lato {
  font-family: 'Lato', sans-serif;

}

.right {
    float: right;
}

.left {
    float: left;
}

.card-img-top {
    width: 100%;
    height: 23vw;
    object-fit: cover;
}

.card-title {
	font-family: 'Comfortaa', cursive;
}

.card-text {
	font-family: 'Lato', sans-serif;
	padding-left: 1px;
}


/* btn-goodminder following bootstrap css for btn-primary */
.btn-goodminder {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-goodminder:hover {
  color: #fff;
  background-color: #399393;
  border-color: #46B3B3;
}

.btn-goodminder:focus, .btn-goodminder.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-goodminder.disabled, .btn-goodminder:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-goodminder:active, .btn-goodminder.active,
.show > .btn-goodminder.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btn-outline-goodminder {
  color: black;
  background-image: none;
  background-color: transparent;
  border-color: #46B3B3;
}

.btn-outline-goodminder:hover {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-outline-goodminder:focus, .btn-outline-goodminder.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-goodminder.disabled, .btn-outline-goodminder:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btn-outline-goodminder:active, .btn-outline-goodminder.active,
.show > .btn-outline-goodminder.dropdown-toggle {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

/* End btn-goodminder */

.button-standard {
    border: solid;
  border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  background-color: rgba(255, 255, 255, 0.7);

}

.button-clear {
    border: none;
    color: #5777C0;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;
		padding: 5px;

}

.clear-button:hover {
    color: rgba(255, 255, 255, 0.9);
}

/* Remove button border */
.clear-button {
	font-size: 24px;
	font-family: 'Comfortaa', cursive;
	color: #5777C0;
  border: 0px;
	padding: 2px;
	margin-left: 5px;
	margin-right: 5px;
  outline: none;
  text-decoration: none;
	cursor:pointer;
  /* For Firefox */
  background: transparent;
}

/* Remove button border */
button:focus {outline:0;}


.button-white {
    border: none;
    color: white;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;

}

.button-standard:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.media {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  border: solid;
  border-color: #46B3B3;
}

.prompt {
  color: black;
  font-size: 24px;

}

.answer {

  color: black;
}

.reason {

  color: black;
}

.options {
  text-align: center;
  color: black;
}




/* Parallax */
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513095416/IMG_7240_q9dadh.jpg);
		min-height: 300px;
}

.bgimg-2 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/IMG_7166_hlep5j.jpg);
    min-height: 300px;
}

.bgimg-3 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/DSCN2129_copy_cdgcqc.jpg);
    min-height: 300px;
}

.opaque-container {
	background-color: rgba(255, 255, 255, 0.8);
}
.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
    background-color: #46B3B3;
    color: #fff;
    padding: 20px;
    letter-spacing: 3px;
		font-size: 36px;

}

/* End parallax */



.btn-clean {
  border: transparent;
  background: transparent;
}

.btn-clean:focus {
  text-decoration: none;
   outline:none;
   border: none;
   box-shadow: none;
}

.menu {
  color: white;
}

.navbar-brand {
  padding-right: 1%;
}
.navbar-brand:hover {
  border-radius: 10px;
  padding-right: 1%;
}

body{
  width:100%;
  background-repeat: no-repeat;
  background-image: url('./texel_beach.jpg');
  background-size:cover;
  background-attachment: fixed;
}

p {
  font-family: 'Comfortaa', cursive;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width:50px;
  height: auto;
  padding-bottom: 8px;
  padding-right: 5px;

}

.App-header {
  background-color: #0d0d0d;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer{
	color: black;
	font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
  width: 100%;
	text-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #46B3B3;
  padding: 20px;

}
/* adjust footer content by screen size */
.short-text { display: none; }

/* When resolution <= 1200px, hide short text and show full text*/
@media (max-width: 768px) {
    .short-text { display: inline; }
    .full-text { display: none; }
}

/* As in bootstrap css */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Import from Bootstrap website

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/


@media (min-width: 0px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  .App {
    background-color: rgba(255, 255, 255, 0.7);
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .App {background-color: transparent;
        }
}
/* Override container resizing to fit more of screen */
@media (max-width: 768px) {
  .container {
    width: 630px;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 900px;
    max-width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  .gminder {background-color: transparent}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {

  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // End */

/* Rotates logo
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
