.main-navbar {
  background: black;
}


body{
  width:100%;
  background-repeat: no-repeat;
  background-image: url('./texel_beach.jpg');
  background-size:cover;
  background-attachment: fixed;
}



p {
  font-family: 'Comfortaa', cursive;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width:50px;
  height: auto;
  padding-bottom: 11px;
  padding-right: 5px;


}

.App-header {
  background-color: #0d0d0d;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer{
	color: black;
	font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
  width: 100%;
	text-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #46B3B3;
  padding: 20px;

}
/* adjust footer content by screen size */
.short-text { display: none; }

/* When resolution <= 1200px, hide short text and show full text*/
@media (max-width: 768px) {
    .short-text { display: inline; }
    .full-text { display: none; }
}

/* As in bootstrap css */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Import from Bootstrap website

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/


@media (min-width: 0px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  .App {
    background-color: rgba(255, 255, 255, 0.7);
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .App {background-color: transparent;
        }
}
/* Override container resizing to fit more of screen */
@media (max-width: 768px) {
  .container {
    width: 630px;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 900px;
    max-width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  .gminder {background-color: transparent}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {

  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // End */

/* Rotates logo
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
