body{
	background-repeat: no-repeat;
  background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1515668911/texel_beach_ll16fl.jpg);
  background-size:cover;
  background-attachment: fixed;
	height: 100%;
}

header{
  color: white;
	font-family: 'Comfortaa', cursive;
}



.navbar {
    border-bottom: 3px solid #46B3B3;
		margin-bottom: 0;
}
.navbar-brand:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer{
	color: black;
	font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
  width: 100%;
	text-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #46B3B3;

}
/* adjust footer content by screen size */
.short-text { display: none; }

/* When resolution <= 1200px, hide short text and show full text*/
@media (max-width: 768px) {
    .short-text { display: inline; }
    .full-text { display: none; }
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    font-size: 16px;
    text-align: left;
    color: #5777C0;
		
}

.box-clear {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
}

h1 {
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

h1 span {
  position: relative;
}
h1 span img {
  position: absolute;
  right: calc(90%);
	bottom: calc(-10%);
}


.main-header {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin: 25px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}


ol {
	text-align: center;
}

h5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 24px;
}


.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.marker {
	font-family: 'Permanent Marker', cursive;
	font-size: 45px;
}

.arial {
    font-family: 'arial';
	font-size: 12px;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.lato {
  font-family: 'Lato', sans-serif;

}

.right {
    float: right;
}

.left {
    float: left;
}

.card-img-top {
    width: 100%;
    height: 23vw;
    object-fit: cover;
}

.card-title {
	font-family: 'Comfortaa', cursive;
}

.card-text {
	font-family: 'Lato', sans-serif;
	padding-left: 1px;
}


/* btn-goodminder following bootstrap css for btn-primary */
.btn-goodminder {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-goodminder:hover {
  color: #fff;
  background-color: #399393;
  border-color: #46B3B3;
}

.btn-goodminder:focus, .btn-goodminder.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-goodminder.disabled, .btn-goodminder:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-goodminder:active, .btn-goodminder.active,
.show > .btn-goodminder.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btn-outline-goodminder {
  color: black;
  background-image: none;
  background-color: transparent;
  border-color: #46B3B3;
}

.btn-outline-goodminder:hover {
  color: #fff;
  background-color: #46B3B3;
  border-color: #46B3B3;
}

.btn-outline-goodminder:focus, .btn-outline-goodminder.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-goodminder.disabled, .btn-outline-goodminder:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btn-outline-goodminder:active, .btn-outline-goodminder.active,
.show > .btn-outline-goodminder.dropdown-toggle {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

/* End btn-goodminder */

.button-standard {
    border: solid;
  border-radius: 10px;
    border-color: #46B3B3;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  background-color: rgba(255, 255, 255, 0.7);

}

.button-clear {
    border: none;
    color: #5777C0;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;

}


.button-white {
    border: none;
    color: white;
    text-align: center;
	font-family: 'Comfortaa', cursive;
    text-decoration: none;
    display: inline-block;

}

.button-standard:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.media {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  border: solid;
  border-color: #46B3B3;
}

.prompt {
  color: black;
  font-size: 24px;

}

.answer {

  color: black;
}

.reason {

  color: black;
}

.options {
  text-align: center;
  color: black;
}




/* Parallax */
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513095416/IMG_7240_q9dadh.jpg);
		min-height: 300px;
}

.bgimg-2 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/IMG_7166_hlep5j.jpg);
    min-height: 300px;
}

.bgimg-3 {
    background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/DSCN2129_copy_cdgcqc.jpg);
    min-height: 300px;
}

.opaque-container {
	background-color: rgba(255, 255, 255, 0.8);
}
.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
    background-color: #46B3B3;
    color: #fff;
    padding: 20px;
    letter-spacing: 3px;
		font-size: 36px;

}

/* End parallax */

/* Star Rating */

.fa-star {
  color: #5777C0;
	font-size: 20px;
}

/* .fa-star:hover does not work in Firefox,
hence the following: */
button:hover i svg.fa-star {
  color:#314981
}

.fa-star:hover {
  color:#314981
}

/* Remove button border */
.star-button {
  border: 0px;
	margin: 0px;
	padding: 2px;
  outline: none;
  text-decoration: none;
  /* For Firefox */
  background: transparent;
}

/* Remove button border */
button:focus {outline:0;}

/* End star rating */

/* default styles here for older browsers.
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    }
@media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
    }
@media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    }
@media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
    }
@media only screen and (device-width:768px){
       /* default iPad screens */
    }
    /* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }
